# Segmenting and Clustering Neighborhoods in Toronto
## Week 3 Assignment for Applied Data Science Capstone
### Notebook 1: Scraping neighborhood data from the web

#### Imports of libraries

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#### Table about Toronto neighborhoods can be found on Wikipedia

In [2]:
wiki_url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

#### Use requests to get the raw html, and then parse it using BeautifulSoup

In [3]:
r = requests.get(wiki_url)
html_data = r.content

soup = BeautifulSoup(html_data, 'html.parser')

#### Use BeautifulSoup to find the table object

In [4]:
table = soup.find('table')

#### Retrieve headers and row contents, remove newline (\n) characters

In [5]:
headers = [h.text.replace('\n', '') for h in table.find_all('th')]
rows = table.find_all('tr')

row_data = []

for row in rows[1:]:  # first row is the header
    row_contents = [c.text.replace('\n', '') for c in row.find_all('td')]
    row_data.append(row_contents)

#### Create a pandas DataFrame from the above contents:

In [6]:
df = pd.DataFrame(data=row_data, columns=headers)
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned
1         M2A      Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Remove 'Not assigned' boroughs

In [7]:
df = df.loc[df['Borough'] != 'Not assigned']

In [8]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

#### Save the dataframe to csv file that will be imported in the second Notebook

In [9]:
df.to_csv('Toronto_PostalCodeData.csv', index=False)

#### Inspect neighborhood counts and the DataFrame's shape

In [10]:
df['Borough'].value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

In [11]:
df.shape

(103, 3)